@using PersonelTayin.ViewsModels;
@model AdminViewModel


@{
    ViewData["Title"] = "Giriş";
    Layout = "~/Views/Shared/_Layout.cshtml"; 

}
<link href="~/css/account.css" rel="stylesheet" />


<div class="header">
    <a href="/" class="logo">AB - YÖNETİCİ GİRİŞİ</a>
    <nav class="navbar">        
            <a asp-controller="Account" asp-action="Login">Personel Girişi</a>
            <a asp-controller="Account" asp-action="Admin">Yönetici Girişi</a>
        </nav>   
</div>
      


<div class="account-container">
    <div class="account-box wrapper">
        <h1 class="text-center mb-4 white-text">Yönetici Girişi</h1>
        <form asp-action="Index" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="input-box">
                <input asp-for="KullaniciAdi" placeholder="Kullanıcı Adı" />
                <span asp-validation-for="KullaniciAdi" class="text-danger"></span>
            </div>

            <div class="input-box">
                <input asp-for="Sifre" placeholder="Şifre" />
                <span asp-validation-for="Sifre" class="text-danger"></span>
            </div>          

            <input type="submit" value="Giriş" />
            

        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}
