@model PersonelTayin.Models.Basvuru

<link href="~/css/account.css" rel="stylesheet" />

<div class="account-container">
    <div class="account-box">
        <h2 class="text-center mb-4 white-text">BAŞVURUNUZ ALINDI</h2>

        <p><strong>Adliye:</strong> @Model.AdliyeAdi?.AdliyeAdi ?? "Adliye bilgisi eksik"</p>
        <p><strong>Başvuru Türü:</strong> @Model.BasvuruTuru</p>
        <p><strong>Açıklama:</strong> @Model.Aciklama</p>
        <p><strong>Başvuru Tarihi:</strong> @Model.BasvuruTarihi.ToString("dd.MM.yyyy HH:mm")</p>

        <div class="text-center mt-2">
            <a asp-controller="Account" asp-action="Dashboard" class="text-decoration-none mt-3">GERİ</a>
        </div>
    </div>
</div>
