@using PersonelTayin.ViewsModels;


@{
    ViewData["Title"] = "Email Doğrulama";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/account.css" rel="stylesheet" />

<div class="account-container">
    <div class="account-box">
        <h2 class="text-center mb-4 white-text">BİLGİ İŞLEM BİRİMİNE BAŞVURUNUZ</h2>

        <div class="text-center mt-2">
            <a asp-controller="Home" asp-action="Index" class="text-decoration-none mt-3">GERİ</a>
        </div>
    </div>
</div>

