@{
    ViewData["Title"] = "Ana Sayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center py-5 px-3">
    <h1 class="display-4 mb-3 fw-bold text-white">Personel Tayin Sistemi'ne Hoşgeldiniz</h1>
    <p class="lead">Tayin başvurusu yapmak için lütfen giriş yapınız.</p>
    <a asp-controller="Account" asp-action="Login" class="btn btn-outline-light mt-4 px-4 py-2">Başvuru Yap</a>
</div>
